<div class="page">
    <product-banner header="Broker" id="broker">
        <p>
            High performance typesafe message bus server for pub/sub pattern, key-value storage, and central atomic app locks.
        </p>
        <p>
            A highly configurable message broker written in and for TypeScript.
        </p>
    </product-banner>

    <div class="line"></div>
    <div class="text">
        <h3>Key/Value</h3>
        <p>
            Type-safe key/value storage.
        </p>
        <p>
            The data is serialized using a very fast binary encoding and stored
            on the server using efficient ArrayBuffers.
        </p>
        <textarea codeHighlight>
import {BrokerClient} from '@deepkit/broker';
import {t} from '@deepkit/type';
const client = new BrokerClient();

const userLogins = client.key('logins/123', t.number);
await userLogins.set(123);
const logins = await userLogins.get();
await userLogins.delete();
      </textarea>

        <h3>Atomic increment</h3>
        <p>
            Type-safe key/value storage.
        </p>
        <textarea codeHighlight>
import {BrokerClient} from '@deepkit/broker';
const client = new BrokerClient();

client.increment('logins/user1', +1);

const v = client.increment('logins/user1', -1);
expect(v).toBe(0);

client.delete('logins/user1');
      </textarea>

        <h3>Pub/Sub</h3>
        <p>
            Type-safe key/value storage.
        </p>
        <textarea codeHighlight>
import {t} from '@deepkit/type';
import {BrokerClient} from '@deepkit/broker';
const client = new BrokerClient();

const messageSchema1 = t.schema({ value: t.number });
const channel1 = client.channel('channel1', messageSchema1);

await channel1.subscribe(v => (message) => {
    console.log('got message', message);
}));

await channel1.publish({ value: 1345 });
      </textarea>

        <h3>Atomic lock</h3>
        <p>
            For critical region locking
        </p>
        <textarea codeHighlight>
import {BrokerClient} from '@deepkit/broker';
const client = new BrokerClient();

if (await client.isLocked('lock1')) {
    // lock in place already.
}

// blocks until lock acquired.
const lock1 = await client.lock('lock1');
try {
    // do critical work.
} finally {
    await lock1.unsubscribe();
}
      </textarea>

        <h3>Extendable</h3>
        <p>
            You can implement custom actions on the broker using TypeScript by
            simply extending the BrokerClient and BrokerKernel.
            In contrast to other solutions like Redis you are not limited.
        </p>

        <h3>Easy to deploy</h3>
        <p>
            The server being regular TypeScript code makes it very easy to deploy your
            own server wherever you want.
        </p>
        <p>
            You can deploy Deepkit Broker as WebSocket server as well and access
            it directly from your frontend application.
        </p>
        <textarea codeHighlight>
import {BrokerKernel} from '@deepkit/broker';
import {TcpServer} from '@deepkit/rpc-tcp';

const server = new TcpServer(
    new BrokerKernel,
    process.env.BROKER_HOST || 'localhost:8081'
);
server.start();
      </textarea>


        <h2>High-Performance</h2>
        <p>
            A carefully optimized binary protocol, serializer and decoder for the v8 engine
            as well as light abstraction makes Deepkit Broker very fast.
        </p>
        <div style="display: flex; justify-content: center; padding: 25px;">
            <performance-chart yAxis="get/second via TCP" sort="asc" format="0.0-0">
                <performance-entry title="node-redis" [value]="43582"></performance-entry>
                <performance-entry title="Deepkit Broker" [value]="41575"></performance-entry>
            </performance-chart>
        </div>
        <div class="wrapper benchmark-link">
            <a routerLink="/benchmarks">More information about our benchmarks</a>
        </div>
    </div>
</div>


