
.icon-circle {
  width: 60px;
  height: 60px;
  align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  background-color: #232323;
  color: white;
}


.links {
  margin: 50px auto;
  h3 {
    color: var(--color-black);
  }
}
