
:host {
  display: block;
  color: #3C3C3C;
  min-height: 1500px;
}

.wrapper {
  display: flex;
  padding-top: 35px;
}

main {
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: #313131;
  line-height: 22px;
  margin: 0 auto;
  flex: 1;

  ::ng-deep {

    h1, h2, h3, h4, h5 {
      color: #333333;
    }

    overflow: hidden;

    h1, h2 {
      margin-top: 0;
      font-weight: 600;
    }

    h2 {
      font-weight: bold;
    }

    img {
      max-width: 100%;
    }

    h3 {
      font-weight: bold;
    }

    .subline {
      color: #7c7c7c;
    }
  }
}

.table-of-content {
  text-align: left;
  position: absolute;
  right: 30px;
  left: calc(100%/2 + 1040px / 2);

  @media(max-width: 1450px) {
    display: none;
  }

  a {
    display: block;
    font-size: 14px;
    padding: 3px 0;

    &.h4 {
      padding-left: 15px;
    }

    &.h5 {
      padding-left: 25px;
    }
  }
}

nav {
  flex: 0 0 140px;
  margin-right: 55px;
  min-height: 100%;
  text-align: left;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.table-of-content, nav {
  a, a:link {
    display: block;
    color: #3C3C3C;
    font-weight: 500;
    margin-top: 1px;
    text-decoration: none;
    font-size: 13px;

    &:hover {
      color: var(--color-link-hover);
    }

    &.active {
      font-weight: bold;
      color: var(--color-link-active);
    }
  }

  .category-title {
    font-weight: bold;
    color: black;
  }

  .category {
    margin-bottom: 35px;
  }

  .section-title {
    font-size: 13px;
    margin-top: 10px;
    color: grey;
  }

  section {
    padding-left: 5px;
    margin-bottom: 15px;
  }
}
