.banner {
  height: 200px;
}
.build {

}

.features {
  max-width: 850px;
}

.feature {
  display: flex;
  margin-top: 65px;

  @media(max-width: 700px) {
    display: block;
  }

  &.left {
    h1, .text {
      text-align: left;
      padding-right: 35px;
    }
  }


  &.right {
    flex-direction: row-reverse;
    h1, .text {
      text-align: right;
      padding-left: 35px;
    }
  }

  .text {
    flex: 1 1 60%;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
