<div class="page">
    <div class="banner">
        <nav>
            <a class="active">Overview</a>
            <a routerLink="/documentation/framework">Documentation</a>
            <a href="">Support</a>
            <a href="/assets/api-docs/modules/_deepkit_framework.html">API</a>
        </nav>
        <h1>Deepkit Framework</h1>
        <p>
            A high performance framework for modern web applications.<br/>
            Fast. Reliable. Productive.
        </p>
    </div>

    <div class="line"></div>

    <feature-block bg="#FFEFD8">
        <div class="columns">
            <div>
                <h1>Isomorphic TypeScript </h1>

                <div style="max-width: 540px;">
                    <p>
                        Dual stack is a relic from the past. Isomorphic TypeScript empowers you to write frontend, backend, cli tools,
                        micro-service, apps, and much more with the very same language.
                        Its single stack nature has huge potential to share code, knowledge,
                        and interfaces across your whole application landscape.
                    </p>

                    <p>
                        Deepkit provides solutions, libraries, and tools that are highly optimized and interoperate perfectly together to make your
                        isomorphic Typescript project a success — for browser and Node.
                    </p>
                </div>
            </div>

            <div class="boost">
                <h4>BOOST</h4>

                <ul>
                    <li>Productivity</li>
                    <li>Knowledge Sharing</li>
                    <li>Hiring</li>
                    <li>Time To Market</li>
                </ul>
            </div>
        </div>
    </feature-block>

    <feature-block align="center">
        <h2>Unlimited Possibilities</h2>

        <div class="build">
            <div class="item">
                <h4>Websites</h4>
                <p>
                    Build websites with TypeScript in the frontend
                    and backend. Be more productive than ever before!
                </p>
            </div>
            <div class="item">
                <h4>Mobile Apps</h4>
                <p>
                    Connect your mobile apps to a powerful real-time
                    backend and database.
                </p>
            </div>
            <div class="item">
                <h4>Admin Interfaces</h4>
                <p>
                    Rapidly create internal dashboards and software tools for personal or professional projects
                </p>
            </div>
            <div class="item">
                <h4>Games</h4>
                <p>
                    Build more interactive and real-time games
                    that connect easily with the backend.
                </p>
            </div>
            <div class="item">
                <h4>Desktop Apps</h4>
                <p>
                    Package your applications for deployment to desktop environments while leveraging all your existing code
                </p>
            </div>
            <div class="item">
                <h4>Micro Services</h4>
                <p>
                    Build a micro service architecture and interconnect
                    them easily and efficiently.
                </p>
            </div>
            <div class="item">
                <h4>APIs</h4>
                <p>
                    Build powerful and fast APIs that are easy
                    to deploy and test.
                </p>
            </div>
            <div class="item">
                <h4>CLI Tools</h4>
                <p>
                    Write CLI tools with the integrated CLI framework. Easily extend the 
                    functionality of the integrated Deepkit CLI with your own business logic
                </p>
            </div>
        </div>
    </feature-block>

    <feature-block bg="#EBF8FF" align="center">
        <h2>High Performance</h2>

        <p>
            We love high performance! Not only in regards to execution time, but also development speed, and time to market. We are committed to building a framework that utilizes the power of
            isomorphic TypeScript and an ecosystem of libraries that are perfectly optimized to work with each other to empower you to build applications faster than ever before.
        </p>

        <ul class="horizontal" style="margin: 55px 0; --color: #CDE6F3">
            <li>Productivity</li>
            <li>Time To Market</li>
            <li>Code Execution</li>
            <li>User Experience</li>
        </ul>

        <div class="banner-features">
            <div>
                <h3>High Performance ORM</h3>
                <div>
                    <performance-chart yAxis="ms / SQLite query 10k records">
                        <performance-entry title="Sequelize" [value]="70.08"></performance-entry>
                        <performance-entry title="MikroORM" [value]="40.76"></performance-entry>
                        <performance-entry title="Prisma" [value]="37.59"></performance-entry>
                        <performance-entry title="TypeORM" [value]="28.33"></performance-entry>
                        <performance-entry title="Deepkit ORM" [value]="7.69"></performance-entry>
                    </performance-chart>
                </div>
            </div>

            <div>
                <h3>Fastest MongoDB</h3>
                <div>
                    <performance-chart yAxis="ms / MongoDB query 10k records">
                        <performance-entry title="Mongoose" [value]="160.59"></performance-entry>
                        <performance-entry title="MikroORM" [value]="89.95"></performance-entry>
                        <performance-entry title="TypeORM" [value]="28.012"></performance-entry>
                        <performance-entry title="Raw MongoClient" [value]="24.64"></performance-entry>
                        <performance-entry title="Deepkit ORM" [value]="12.56"></performance-entry>
                    </performance-chart>
                </div>
            </div>
        </div>
    </feature-block>

    <feature-block bg="#F0ECD9">

        <h2 style="margin-bottom: 10px;">No Magic</h2>

        <div class="columns">
            <div style="flex: 0 1 550px; display: flex; flex-direction: column; justify-content: center">
                <p>
                    No code generation, no JSON configuration files, no globals, no complex abstraction, or magic behind your back. Simple, yet efficient SOLID code in a powerful modularized
                    dependency
                    injection container. Easy to reason about, easy to test, and easy to extend.
                </p>

                <p>
                    Your application is also your command line interface. Start your server, execute migrations, debug your application config, run custom commands, and more via the very
                    same
                    file.
                </p>
            </div>

            <div style="flex: 0 1 350px">
            <textarea codeHighlight title="app.ts">
                import 'reflect-metadata';
                import { Application } from '@deepkit/framework';
                import { http } from '@deepkit/http';

                @http.controller()
                class MyPage {
                    @http.GET('hello-world')
                    helloWorld() {
                        return "Hello World!";
                    }
                }

                new Application({
                    controllers: [MyPage],
                }).run();
            </textarea>
            </div>
        </div>

        <div style="display: flex; justify-content: center;">
            <div style="max-width: 600px; margin: 25px auto; overflow: hidden;">
            <textarea codeHighlight="bash">
                $ ts-node app.ts server:start
                2021-06-11T17:44:52.646Z [LOG] Start HTTP server.
                2021-06-11T17:44:52.649Z [LOG] HTTP MyPage
                2021-06-11T17:44:52.649Z [LOG]     GET /hello-world helloWorld
                2021-06-11T17:44:52.649Z [LOG] HTTP listening at http://localhost:8080/
            </textarea>
            </div>
        </div>

    </feature-block>


    <feature-block align="center">
        <h2>We've Got You Covered</h2>

        <p>
            A huge breadth of functionality across various standalone Deepkit libraries — in one code base.
            All with the same high code quality, documentation, high performance, and contact person.
        </p>

        <div class="feature-list" style="margin-top: 50px;">
            <div>Serialization</div>
            <div>Validation</div>
            <div>Reflection</div>
            <div>HTTP Router</div>
            <div>RPC</div>
            <div>CLI</div>
            <div>ORM</div>
            <div>Real-Time</div>
            <div>Broker</div>
            <div>Key-Value</div>
            <div>Caching</div>
            <div>Dependency Injection</div>
            <div>Event Dispatcher</div>
            <div>Workflow Engine</div>
            <div>Profiling</div>
            <div>Logger</div>
            <div>Form</div>
            <div>Template Engine</div>
            <div>Debugger</div>
            <div>Desktop UI</div>
            <div>Data Browser</div>
            <div>Data Migration</div>
            <div>Seeding</div>
            <div>Postgres</div>
            <div>SQLite</div>
            <div>MongoDB</div>
            <div>MySQL</div>
            <div>Configuration System</div>
            <div>Modules</div>
            <div>Testing</div>
            <div>Runtime Types</div>
            <div>HTTP Kernel</div>
            <div>Error Handling</div>
        </div>
    </feature-block>


    <feature-block bg="#252525">
        <div style="color: white">
            <h2 style="color: white">Enterprise Support</h2>

            <div style="max-width: 480px">
                <p>
                    Many open source projects have one thing in common: The support is either non-existent, very slow, or not reliable.<br/>
                    We want to change that.
                </p>

                <p>
                    We provide one-time support models and continuous support subscriptions for any size, no matter if you are a solo-developer or a big enterprise with hundreds of developers.
                </p>
            </div>

            <div>
                Coming soon
            </div>
        </div>
    </feature-block>

    <feature-block align="center">
        <h2>Developer Tools</h2>

        <p>
            Build sophisticated applications with much more efficiency and confidence using built-in professional developer tools.
        </p>

        <ul class="horizontal" style="--color: whitesmoke; max-width: 950px; margin-top: 50px;">
            <li>Debugger</li>
            <li>Data Browser</li>
            <li>Profiler</li>
            <li>API Console</li>
        </ul>

        <div class="columns debugger" style="margin: 50px 0;">
            <div class="text">
                <h2>Debugger</h2>

                <div>
                    <p>
                        The more complex your application gets the more important it is to be able to debug issues, profile your code, and have a good overview over your abstractions.
                    </p>
                    <p>
                        With the Deepkit Debugger we provide you high-level profiling and debugging functionality directly backed into your application to be used in your browser.
                    </p>
                </div>
            </div>
            <div class="image">
                <div style="width: 200%">

                    <image src="/assets/images/debugger-screen.png"></image>
                </div>
            </div>
        </div>

        <div style="margin: 50px 0;">
            <h2>Data Browser</h2>

            <p>
                Manage your database directly within our app by simply defining your models in TypeScript classes or schemas.
                Manage content, seed with a powerful faker library, migrate SQL schemas, or run your queries directly in the
                JavaScript prompt — all in your browser.
            </p>

            <image src="/assets/screenshots-orm-browser/content-editing.png"></image>
        </div>


        <div style="margin: 50px 0;">
            <h2>Profiler</h2>

            <p>
                A high level profiler is key to understanding performance characteristics in detail
                and visualizing the flow of your application in a single glance.
            </p>

            <image src="/assets/screenshots-profiler/overview.png"></image>
        </div>

    </feature-block>

    <feature-block [wrapper]="false" bg="#D9E8F0" align="center">
        <div class="wrapper" style="max-width: 1350px">
            <h2>Three Entry Points To Rule Them All</h2>

            <p>
                There are three entry points to your application that are supported natively out of the box.
                All entry points have full access to the dependency injection container.
            </p>

            <div class="entry-points">
                <div>
                    <h3>HTTP</h3>

                    <textarea codeHighlight>
                    import 'reflect-metadata';
                    import { Application } from '@deepkit/framework';
                    import { http } from '@deepkit/http';

                    @http.controller()
                    class MyController {
                        @http.GET('hello-world')
                        helloWorld() {
                            return "Hello World!";
                        }
                    }

                    new Application({
                        controllers: [MyController],
                    }).run();
                </textarea>

                    <textarea codeHighlight="bash">
                    $ curl http://localhost:8080/hello-world
                    Hello World!
                </textarea>
                </div>
                <div>
                    <h3>RPC</h3>

                    <textarea codeHighlight>
                    import 'reflect-metadata';
                    import { Application } from '@deepkit/framework';
                    import { rpc } from '@deepkit/rpc';

                    @rpc.controller()
                    class MyController {
                        @rpc.action()
                        helloWorld() {
                            return "Hello World!";
                        }
                    }

                    new Application({
                        controllers: [MyController],
                    }).run();
                </textarea>

                    <textarea codeHighlight>
                    import {RpcClient} from '@deepkit/rpc';

                    const client = new RpcClient('localhost:8080');
                    const ctrl = client.controller(MyController);

                    await ctrl.helloWorld(); //Hello World!
                </textarea>
                </div>
                <div>
                    <h3>CLI</h3>

                    <textarea codeHighlight>
                    import 'reflect-metadata';
                    import { Application } from '@deepkit/framework';
                    import { cli } from '@deepkit/cli';

                    @cli.controller('my-command')
                    class MyController {
                        execute() {
                            console.log("Hello World!");
                        }
                    }


                    new Application({
                        controllers: [MyController],
                    }).run();
                </textarea>

                    <textarea codeHighlight="bash">
                   $ ts-node app.ts my-command
                    Hello world!
                </textarea>
                </div>
            </div>
        </div>
    </feature-block>


    <feature-block bg="#EAD9F0" align="center">
        <h2>One Schema For All</h2>

        <p>
            With <a routerLink="/library/type">Deepkit Type</a> you can define your data structures once and use them in your whole application stack.
            Use the same schema API for all use-cases where serialization/validation is required.
        </p>

        <p>
            For example you could define an entity <code>User</code> once, decorate it with all necessary information like data type, relationship information,
            and validation. Once defined, you can then use the very same class for database, frontend, http route (body) including validation, and more.
        </p>
        <p>
            Class slicing enables you to include/exclude fields allowing you to create new sub classes in DRY-way — never write entities more than once.
        </p>

        <div class="columns" style="margin-bottom: 35px;">
            <div>
                <textarea codeHighlight>
                import { t, entity } from '@deepkit/type';

                @entity.collection('users')
                class User {
                    @t id: number = 0;

                    @t created: Date = new Date;

                    @t firstName?: string;
                    @t lastName?: string;

                    constructor(
                        @t.minLength(3).index({unique: true})
                        public username: string
                    ) {}
                }
            </textarea>
            </div>
            <div style="display: flex; flex-direction: column;justify-content: center">
                <textarea codeHighlight>
                import { t } from '@deepkit/type';

                const registeredMessage = t.schema({
                    id: t.number,
                    created: t.date,
                    userId: t.number,
                });
            </textarea>
                <textarea codeHighlight>
                import { t } from '@deepkit/type';

                const config = t.schema({
                    dbHost: t.string.description('Database host'),
                    domain: t.string.description('The public domain name')
                });
            </textarea>
            </div>
        </div>

        <div style="margin-bottom: 35px;">
        <textarea codeHighlight>
            import { t } from '@deepkit/type';

            @http.controller('/api')
            class MyController {
                @http.GET('/users')
                async apiUsers(@http.query() @t.positive().maximum(1000) limit: number = 100) {
                    return await this.database.query(User).limit(limit);
                }
            }

            //$ curl http://localhost:8080/api/users?limit=1000
        </textarea>
        </div>

        <ul class="horizontal" style="--color: #E3C3EE">
            <li>Configuration System</li>
            <li>HTTP Query</li>
            <li>HTTP Parameters</li>
            <li>HTTP Body</li>
            <li>Database Entities</li>
            <li>Message Queue</li>
            <li>Key/Value Storage</li>
            <li>RPC Actions</li>
            <li>RPC Streams</li>
            <li>CLI Arguments/Flags</li>
            <li>Binary Storage</li>
            <li>Frontend Serialization</li>
        </ul>

    </feature-block>


    <feature-block bg="#D9F0EF" align="center">
        <h2>Type-safe Configuration System</h2>

        <div class="columns">
            <div>
            <textarea codeHighlight>
                import { createModuleConfig } from '@deepkit/app';
                import { Application } from '@deepkit/framework';
                import { t } from '@deepkit/type';
                import { injectable } from '@deepkit/injector';

                const config = createModuleConfig({
                    email: t.boolean.default(false),
                    emailSender: t.string.optional,
                });

                class EmailSettings extends config.slice('email', 'emailSender') {}

                @injectable()
                class EmailService {
                    constructor(protected emailSettings: EmailSettings) {
                    }

                    send(to: string, subject: string, content: string) {
                        if (!this.emailSettings.email) return;
                        sendEmail({
                          to, subject, content,
                          sender: this.emailSettings.emailSender
                        });
                    }
                }

                new Application({
                    config: config,
                    providers: [EmailService]
                })
                    .loadConfigFromEnvVariables('APP_')
                    .run()

            </textarea>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center">
                <div>
                    <p>
                        The most type-safe configuration system with automatic deserialization and validation.
                        Consume configuration values directly in your services and controllers in the most type-safe and decoupled way possible.
                    </p>

                    <p>
                        Configuration values can be set via env variables, dotEnv files, or manually in code.
                    </p>
                </div>
                <div style="margin-top: 50px;">
                    <textarea codeHighlight="bash">
                        $ APP_emailSender=”root@localhost” ts-node app.ts email:send
                    </textarea>
                </div>
                <div style="margin-top: 50px;">
                    <textarea codeHighlight>
                        test('email config', () => {
                            const emailService = new EmailService({
                                email: true,
                                emailSender: 'root@localhost'
                            });
                            emailService.send('me@localhost', 'Test', 'Hi there!');
                        });
                    </textarea>
                </div>
            </div>
        </div>
    </feature-block>


    <feature-block bg="#D9F0DE" align="center">
        <h2>Modular</h2>
        <p>
            Split your application in multiple modules and keep together what belongs together.
        </p>

        <image style="max-width: 506px; margin-top: 50px;" src="/assets/images/modular.png"></image>

    </feature-block>

    <feature-block bg="#E6F3C1" align="center">
        <h2>Frontend agnostic</h2>

        <p>
            Deepkit is fully agnostic to any frontend framework so that you can incrementally adopt Deepkit libraries in your
            already existing projects or use the full Deepkit framework in combination with a frontend framework of your choice.
        </p>

        <image style="max-width: 289px; margin-top: 50px;" src="/assets/images/frontend-logos.png"></image>

    </feature-block>

    <feature-block bg="#C1C9F3">
        <h2>Build Real-Time<br/>Collaborative Products</h2>

        <p>
            Deepkit Framework comes with everything necessary to build highly collaborative real-time products.
        </p>

        <ul class="horizontal" style="--color: #A7AFDD; margin-top: 50px;">
            <li>Live Database Queries</li>
            <li>Streaming</li>
            <li>Broker</li>
            <li>Live Entity/Collection</li>
        </ul>

    </feature-block>

    <feature-block align="center">
        <h2>What Are You Waiting For?</h2>

        <p>
            Get started in a few minutes and start your first highly interactive application based on Deepkit Framework.
        </p>

        <a class="button" href="/documentation/framework">Getting Started</a>
    </feature-block>
</div>

<div class="support"></div>
