main {
  position: relative;
  padding-top: 30px;
  margin-bottom: 150px;
}

.two-column {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media(max-width: 660px) {
    display: block;
  }
}

.feature-with-code {
  div.code-box {
    //height: 550px;
    padding: 35px;
    display: flex;
    border-radius: 3px;
    position: relative;
    left: 80px;
    align-items: center;
    background-color: var(--code-background);

    pre.code {
      overflow: visible;
    }

    @media(max-width: 660px) {
      left: 0;
      height: 350px;
    }
  }
}

.feature-block {
  margin: 250px 0;
}

.feature-framework {
  margin: 250px -100px;
  overflow: auto;

  @media(max-width: 1130px) {
      margin: 0;
  }

  table {
    table-layout: fixed;
    width: 100%;
    min-width: 700px;
    border-spacing: 10px;
  }

  table td {
    border-radius: 6px;
    background: #D9D9D9;
    text-align: center;
    height: 80px;
    font-weight: 600;
    font-size: 18px;
    color: #313131;
    letter-spacing: 0.62px;
    line-height: 30px;
    overflow: hidden;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .features {
    width: 50%;
  }

  .boxes {
    max-width: 200px;
    span {
      display: block;
      background: #737880;
      margin: 2px 0;
      text-align: right;
      color: white;
      padding: 4px;
      font-size: 13px;
    }
  }

  .text {
    text-align: center;

    .buttons {
      justify-content: center;
    }
  }
}

.banner-features {
  display: flex;
  margin: 60px auto;

  > div {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    text-align: center;

    h3 {
      flex: 0 0 30px;
    }

    > div {
      padding: 25px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:not(:first-child) {
      > div {
        border-left: 1px solid black;
      }
    }
  }

  @media(max-width: 660px) {
    display: block;
    > div {
      &:not(:first-child) {
        > div {
          border-left: 0 !important;
        }
      }
    }
  }
}
