<div class="page">
    <div class="banner">
        <nav>
            <a href="" class="active">Overview</a>
            <a href="">Documentation</a>
            <a href="">Support</a>
            <a href="">API</a>
        </nav>
        <h1>Deepkit Framework</h1>
        <p>
            A high performance framework for modern web applications.<br/>
            Fast. Reliable. Productive.
        </p>
    </div>

    <div class="line"></div>
    <div class="build">

        <h2 style="margin: 65px 0">Build</h2>

        <div class="wrapper cards">
            <div class="card">
                <h4>Websites</h4>
                <p>
                    Build websites with TypeScript in the frontend
                    and backend to be more productive then ever before.
                </p>
            </div>
            <div class="card">
                <h4>Mobile apps</h4>
                <p>
                    Write a backend for your mobile apps and share key
                    knowledge between frontend like Ionic and Deepkit.
                </p>
            </div>
            <div class="card">
                <h4>Admin interfaces</h4>
                <p>
                    Together with @deepkit/desktop-ui you
                    can build complex desktop admin interfaces
                    in a very short time.
                </p>
            </div>
            <div class="card">
                <h4>Games</h4>
                <p>
                    Real-Time and reactivity in games are standard.
                    That's why its backed into Deepkit per default.
                </p>
            </div>
            <div class="card">
                <h4>Desktop apps</h4>
                <p>
                    Deepkit works very well with Electron, so building
                    Desktop class apps has never been easier.
                </p>
            </div>
            <div class="card">
                <h4>Micro services</h4>
                <p>
                    Create micro services and communicate between
                    them via a broker, RPC connection, and more.
                </p>
            </div>
            <div class="card">
                <h4>APIs</h4>
                <p>
                    Create HTTP REST APIs with easy to write controllers.
                </p>
            </div>
            <div class="card">
                <h4>CLI tools</h4>
                <p>
                    With the integrated CLI framework you can write
                    CLI tools in a very short time.
                </p>
            </div>
        </div>
    </div>

    <div class="wrapper features">
        <div class="feature left">
            <div class="text">
                <h1>Isomorphic TypeScript</h1>
                <p>
                    We believe in TypeScript. So much that we truely think you can build almost anything with just one
                    tech stack and use native addons or WebAssembly where necessary. Isomorphic TypeScript allows you to
                    write frontend, backend, cli tools, micro-service, apps, and much more with the very same language.
                    Isomorphic TypeScript’s potential is huge and has not yet been utilised completely by other
                    frameworks.
                </p>

                <p>
                    We want to change that and provide solutions, libraries, and tools to allow you to maximal utilise
                    the full potential of TypeScript in your applications. Correctly applied you are an order of magnite
                    faster compared to classic dual stacks like PHP/JS, or Java/JS.
                </p>
            </div>
            <div class="image">
                <img alt="typescript logo" width="229" src="/assets/images/typescript.png"/>
            </div>
        </div>
        <div class="feature right">
            <div class="text">
                <h1>Frontend agnostic</h1>
                <p>
                    Deepkit is fully agnostic to any frontend framework so you can progressively adopt Deepkit libraries
                    in your already existing or new Angular, React, VueJs application or jump directly to the full
                    Deepkit framework in combination with a frontend framework of your choice.
                </p>
                <p>
                    That being said, Deepkit comes also with an optional UI framework based on Angular for desktop
                    applications.
                </p>
            </div>
            <div class="image">
                <img alt="typescript logo" width="280" src="/assets/images/frontend-logos.png"/>
            </div>
        </div>
        <div class="feature left">
            <div class="text">
                <h1>High performance</h1>
                <p>
                    We love high performance code. Google’s v8 JavaScript runtime is very performant if the right code
                    is provided, thats why we try to write always the most performant code possible. We have performance
                    always in our top prioritities.
                </p>
                <p>
                    Deepkit Type is the fastest TypeScript serializer and very fast validator, Deepkit ORM the fastest
                    TypeScript ORM for SQL databases and MongoDB, and Deepkit BSON the fastest BSON serializer.
                    We are committed to provide even more top-notch high performance libraries in the future.
                </p>
            </div>
            <div class="image">
            </div>
        </div>
        <div class="feature right">
            <div class="text">
                <h1>Real-time</h1>
                <p>
                    More and more applications provide real-time functionality - and users expect it more and more.
                    Deepkit comes in its DNA equipped with real-time functionality. Deepkit RPC for example does not
                    only provide native support for RxJS, but also real-time collections and entities.
                    Deepkit ORM has a LiveDatabase abstraction that allows you to stream changes made to your database
                    directly to your subscribers (for example frontend).
                </p>
            </div>
            <div class="image">
            </div>
        </div>
    </div>
</div>

<div class="support"></div>
