<div class="page">
    <div class="banner">
        <nav>
            <a class="active">Overview</a>
            <a routerLink="/documentation/framework">Documentation</a>
            <a href="">Support</a>
            <a href="/assets/api-docs/modules/_deepkit_framework.html">API</a>
        </nav>
        <h1>Deepkit Framework</h1>
        <p>
            A high performance framework for modern web applications.<br/>
            Fast. Reliable. Productive.
        </p>
    </div>

    <div class="line"></div>
    <div class="build">

        <h2 style="margin: 65px 0">Build</h2>

        <div class="wrapper cards">
            <div class="card">
                <h4>Websites</h4>
                <p>
                    Build websites with TypeScript in the frontend
                    and backend to be more productive then ever before.
                </p>
            </div>
            <div class="card">
                <h4>Mobile apps</h4>
                <p>
                    Write a backend for your mobile apps and share key
                    knowledge between frontend like Ionic and Deepkit.
                </p>
            </div>
            <div class="card">
                <h4>Admin interfaces</h4>
                <p>
                    Create sophisticated admin interfaces
                    in record time.
                </p>
            </div>
            <div class="card">
                <h4>Games</h4>
                <p>
                    Real-time and reactivity in games are standard.
                    That's why its backed into Deepkit.
                </p>
            </div>
            <div class="card">
                <h4>Desktop apps</h4>
                <p>
                    Deepkit comes with a library to build Desktop app
                    with native look and feel.
                </p>
            </div>
            <div class="card">
                <h4>Micro services</h4>
                <p>
                    Build a micro service architecture and interconnect
                    them in a very efficient way.
                </p>
            </div>
            <div class="card">
                <h4>APIs</h4>
                <p>
                    Build powerful and fast APIs that are easy
                    to deploy and test.
                </p>
            </div>
            <div class="card">
                <h4>CLI tools</h4>
                <p>
                    Write CLI tools with the integrated CLI framework,
                    easy and efficient.
                </p>
            </div>
        </div>
    </div>

    <div class="wrapper features">
        <div class="feature left">
            <div class="text">
                <h1>Isomorphic TypeScript</h1>
                <p>
                    We believe you can build almost anything with just one tech stack and use native addons or WebAssembly where necessary.
                    Isomorphic TypeScript allows you to write frontend, backend, cli tools, micro-service, apps, and much more with the very same language.
                    Its potential is huge and has not yet been utilised by the industry.
                </p>

                <p>
                    We want to change that and provide solutions, libraries, and tools that are highly optimised
                    to interoperate perfectly together for frontend as well as backend applications.
                </p>
            </div>
            <div class="image">
                <img alt="typescript logo" width="229" src="/assets/images/typescript.png"/>
            </div>
        </div>
        <div class="feature right">
            <div class="text">
                <h1>Frontend agnostic</h1>
                <p>
                    Deepkit is fully agnostic to any frontend framework so you can progressively adopt Deepkit libraries
                    in your already existing projects or jump directly to the full
                    Deepkit framework in combination with a frontend framework of your choice.
                </p>
            </div>
            <div class="image">
                <img alt="typescript logo" width="280" src="/assets/images/frontend-logos.png"/>
            </div>
        </div>
        <div class="feature center">
            <div class="text">
                <h1>High performance</h1>
                <p>
                    We love high performance. Not only in regards to execution time, but also development speed,
                    and time to market. We are committed to build a framework that utilises the power of isomorphic TypeScript
                    and a ecosystem of libraries that are perfectly optimised to work with each other to make you build
                    applications faster than ever before.
                </p>
            </div>
            <div class="image">
            </div>
        </div>
        <div class="feature right">
            <div class="text">
                <h1>Real-time</h1>
                <p>
                    More and more applications provide real-time functionality - and users expect it more and more.
                    Deepkit comes in its DNA equipped with real-time functionality. Deepkit RPC for example does not
                    only provide native support for RxJS, but also real-time collections and entities.
                    Deepkit ORM has a LiveDatabase abstraction that allows you to stream changes made to your database
                    directly to your subscribers (for example frontend).
                </p>
            </div>
            <div class="image">
            </div>
        </div>
    </div>
</div>

<div class="support"></div>
