<div class="page">
    <product-banner header="ORM Browser" id="orm-browser">
        <p>
            Manage your data of your ORM models directly in the browser.
        </p>
        <p>
            With interfaces for database seed, schema migrate, and your ER model of your database.
            An interactive query prompt allows you to execute javascript queries directly in the browser
            against your real database.
        </p>
    </product-banner>

    <div class="line"></div>

    <div class="line"></div>

    <div class="wrapper how-it-works">

    </div>
</div>
