.how-it-works {
  margin: 55px auto;

  .client-server {
    display: flex;
    justify-content: space-around;
    > div {
      flex: 1 1 46%;
      text-align: center;
      margin: 11px;
    }


    @media(max-width: 660px) {
      display: block;
    }
  }

  .common {
    margin-top: 35px;
    ::ng-deep pre.code {
      display: inline-block;
    }
  }

  .client-server > div,
  .common {
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 5px;
      font-size: 14px;
    }

    ::ng-deep pre.code {
      margin-top: 30px;
    }
  }
}
