<div class="page">
    <product-banner header="Type" id="type">
        <p>
            Runtime type reflection system for TypeScript, with high-performance JIT based serializer and validator.
        </p>
        <p>
            With built-in JSON serializer, customizable serializer/validator API, reflection, object snapshotting, and
            change detector.
        </p>
    </product-banner>

    <div class="line"></div>

    <div class="text">
        <div style="text-align: center">
            <h2>High-Performance</h2>
            <p>
                The serializer and validator are JIT optimized to enable the highest performance possible.<br/>
                <a href="https://github.com/deepkit/deepkit-framework/blob/master/packages/benchmark/src/type/serialization/small-deepkit.bench.ts">Simple models</a>
                have a serialization speed of 32 million ops/s and deserialization speed of 25 million ops/s on a Apple M1.
                More <a href="https://github.com/deepkit/deepkit-framework/blob/master/packages/benchmark/src/type/serialization/medium-deepkit.bench.ts">complex models</a>
                are still in the millions of ops/s.
            </p>
            <div style="display: flex; justify-content: center; padding: 25px;">
                <performance-chart yAxis="thousand ops/sec | serialization" sort="asc" format="0.0-0">
                    <performance-entry title="class-transformer" [value]="317"></performance-entry>
                    <performance-entry title="cerialize" [value]="3505"></performance-entry>
                    <performance-entry title="Deepkit Type" [value]="20324"></performance-entry>
                </performance-chart>
            </div>
        </div>

        <h2>Class schema</h2>
        <p>
            Annotate your model classes with <code>@t</code>
            to get runtime type information and allow serialization and validation.
        </p>

        <textarea codeHighlight>
          import { t } from '@deepkit/type';

          class User {
            @t id: number = 0;

            @t createdAt: Date = new Date;

            @t firstName?: string;
            @t lastName?: string;

            @t.pattern(/^\S+@\S+\.\S+$/)
            email?: string;

            constructor(
              @t.minLength(3) public username: string
            ) { }
          }
        </textarea>


        <textarea codeHighlight>
        import { getClassSchema } from '@deepkit/type';

        const schema = getClassSchema(User);

        schema.getProperty('id').type; //number
        schema.getProperty('username').isOptional; //false

        schema.getProperty('firstName').type; //string
        schema.getProperty('firstName').isOptional; //true

        schema.hasProperty('internal'); //false
        </textarea>

        <h2>Functional schema</h2>
        <p>
            Made for class-less functional world as well.
        </p>

        <textarea codeHighlight>
        import { t } from '@deepkit/type';

        const user = t.schema({
          id: t.number.default(0),
          createdAt: t.date.default(() => new Date),
          firstName: t.string.optional,
          lastName: t.string.optional,
          username: t.string,
        });

        user.getProperty('id').type; //number
        user.getProperty('username').isOptional; //false

        user.getProperty('firstName').type; //string
        user.getProperty('firstName').isOptional; //true
        </textarea>

        <h2>Serialization</h2>
        <p>
            High-performance serialization from and to JSON, optimized by JIT techniques.
        </p>

        <p>
            Supports custom serializer targets as well.
        </p>

        <textarea codeHighlight>
        import { classToPlain, plainToClass } from '@deepkit/type';

        const myUser = new User('Daniel');
        // class instance to json object
        const json = classToPlain(User, myUser);

        // json object to class instance
        const user: User = plainToClass(User, {
          username: 'Daniel',
          createdAt: '2021-01-24T15:23:16.582Z'
        });
      </textarea>

        <h2>Validation</h2>
        <p>
            High-performance validation optimized by JIT techniques
            with detailed error objects, that can be easily used in
            the frontend.
        </p>
        <textarea codeHighlight>
        import {
          validatedPlainToClass,
          validate
        } from '@deepkit/type';

        const user: User = validatedPlainToClass(User, {
          username: 'Daniel',
          email: 'invalid',
        }); //throws an ValidationFailedError if invalid

        //or validate class instances
        const user = new User('ba');

        //empty array if valid
        const errors = validate(User, user);
        errors[0] === {
          path: 'email',
          code: 'invalid_type',
          message: 'Not a valid date given'
        };
      </textarea>

        <h2>Class re-use</h2>
        <p>
            Avoid code duplication and make refactoring easier by re-using
            models.
        </p>
        <textarea codeHighlight>
        import { t, mixin } from '@deepkit/type';

        class User extends mixin(UUID, Timestamp, SoftDelete) {
          @t firstName?: string;
          @t lastName?: string;

          @t.pattern(/^\S+@\S+\.\S+$/)
          email?: string;

          constructor(
            @t.minLength(3) public username: string
          ) {
            super();
          }
        }
      </textarea>
        <textarea codeHighlight>
        import { uuid } from '@deepkit/type';

        class Timestamp {
           @t createdAt: Date = new Date;
           @t updatedAt: Date = new Date;
        }

        class SoftDelete {
           @t deletedAt?: Date;
           @t deletedBy?: string;
        }

        class UUID {
           @t.uuid uuid: string = uuid();
        }
      </textarea>

        <h2>Class slicing</h2>
        <p>
            Slice your classes the way you want to avoid code-duplication.
        </p>
        <textarea codeHighlight>
        import { t, sliceClass } from '@deepkit/type';

        class FrontendUser extends
          sliceClass(User).exclude('password', 'salt') {

          // when user sets this, we handle it correctly
          //by hashing it accordingly and update `User`
          @t newPassword?: string;
        }

      </textarea>
        <textarea codeHighlight>
        import { t } from '@deepkit/type';

        class User {
          @t id: number = 0;

          // this field should never reach
          // the frontend
          @t password?: string;
          @t salt?: string;

          @t createdAt: Date = new Date;

          @t firstName?: string;
          @t lastName?: string;

          constructor(
            @t.minLength(3) public username: string
          ) { }
        }
      </textarea>

    </div>
</div>
