<div class="page">
    <div class="banner">
        <nav>
            <div class="breadcrumb">
                <a routerLink="/library">Deepkit library</a> /
            </div>
            <a routerLink="/library/type" routerLinkActive="active">Overview</a>
            <a routerLink="">Documentation</a>
            <a routerLink="">API</a>
        </nav>

        <h1>Type</h1>
        <div class="package-name">@deepkit/type</div>
        <p>
            Runtime type reflection system for TypeScript, with high-performance serializer and validator.
        </p>
        <div class="actions">
        </div>
    </div>

    <div class="line"></div>

    <div class="text">
        <h2>Installation</h2>
        <pre class="console">npm install @deepkit/type</pre>


        <h2>Class annotation</h2>
        <p>
            Annotate your model classes with <code>@t</code>
            to get runtime type information and allow serialization and validation.
        </p>

        <textarea codeHighlight>
        import { getClassSchema } from '@deepkit/type';

        const schema = getClassSchema(User);

        schema.getProperty('id').type; //number
        schema.getProperty('username').isOptional; //false

        schema.getProperty('firstName').type; //string
        schema.getProperty('firstName').isOptional; //true

        schema.hasProperty('internal'); //false
      </textarea>

        <textarea codeHighlight>
      import { t } from '@deepkit/type';

      class User {
        @t id: number = 0;

        @t createdAt: Date = new Date;

        @t firstName?: string;
        @t lastName?: string;

        @t.pattern(/^\S+@\S+\.\S+$/)
        email?: string;

        constructor(
          @t.minLength(3) public username: string
        ) { }
      }
      </textarea>


        <h2>Schema definition</h2>
        <p>
            Made for class-less use-cases as well.
        </p>
        <textarea codeHighlight>
        user.getProperty('id').type; //number
        user.getProperty('username').isOptional; //false

        user.getProperty('firstName').type; //string
        user.getProperty('firstName').isOptional; //true
      </textarea>
        <textarea codeHighlight>
      import { t } from '@deepkit/type';

      const user = t.schema({
        id: t.number.default(0),
        createdAt: t.date.default(() => new Date),
        firstName: t.string.optional,
        lastName: t.string.optional,
        username: t.string,
      });
      </textarea>

        <h2>Serialization</h2>
        <p>
            High-performance serialization from and to JSON, optimized by JIT techniques.
        </p>

        <p>
            Supports custom serializer targets as well.
        </p>

        <textarea codeHighlight>
        import { classToPlain, plainToClass } from '@deepkit/type';

        const myUser = new User('Daniel');
        const json = classToPlain(User, myUser);

        const user: User = plainToClass(User, {
          username: 'Daniel',
          createdAt: '2021-01-24T15:23:16.582Z'
        });
      </textarea>

        <h2>Validation</h2>
        <p>
            High-performance validation optimized by JIT techniques
            with detailed error objects, that can be easily used in
            the frontend.
        </p>
        <textarea codeHighlight>
        import {
          validatedPlainToClass,
          validate
        } from '@deepkit/type';

        const user: User = validatedPlainToClass(User, {
          username: 'Daniel',
          email: 'invalid',
        }); //throws an ValidationFailedError if invalid

        //or validate class instances
        const user = new User('ba');

        //empty array if valid
        const errors = validate(User, user);
        errors[0] === {
          path: 'email',
          code: 'invalid_type',
          message: 'Not a valid date given'
        };
      </textarea>

        <h2>Class re-use</h2>
        <p>
            Avoid code duplication and make refactoring easier by re-using
            models.
        </p>
        <textarea codeHighlight>
        import { t, mixin } from '@deepkit/type';

        class User extends mixin(UUID, Timestamp, SoftDelete) {
          @t firstName?: string;
          @t lastName?: string;

          @t.pattern(/^\S+@\S+\.\S+$/)
          email?: string;

          constructor(
            @t.minLength(3) public username: string
          ) {
            super();
          }
        }
      </textarea>
        <textarea codeHighlight>
        import { uuid } from '@deepkit/type';

        class Timestamp {
           @t createdAt: Date = new Date;
           @t updatedAt: Date = new Date;
        }

        class SoftDelete {
           @t deletedAt?: Date;
           @t deletedBy?: string;
        }

        class UUID {
           @t.uuid uuid: string = uuid();
        }
      </textarea>

        <h2>Class slicing</h2>
        <p>
            Slice your classes the way you want to avoid code-duplication.
        </p>
        <textarea codeHighlight>
        import { t, sliceClass } from '@deepkit/type';

        class FrontendUser extends
          sliceClass(User).exclude('password', 'salt') {

          // when user sets this, we handle it correctly
          //by hashing it accordingly and update `User`
          @t newPassword?: string;
        }

      </textarea>
        <textarea codeHighlight>
        import { t } from '@deepkit/type';

        class User {
          @t id: number = 0;

          // this field should never reach
          // the frontend
          @t password?: string;
          @t salt?: string;

          @t createdAt: Date = new Date;

          @t firstName?: string;
          @t lastName?: string;

          constructor(
            @t.minLength(3) public username: string
          ) { }
        }
      </textarea>


        <h2>High-Performance</h2>
        <p>
            The serializer and validator are equally JIT optimized to
            enable the highest performance possible.
        </p>
        <div style="display: flex; justify-content: center; padding: 25px;">
            <performance-chart yAxis="thousand ops/sec | serialization" sort="asc" format="0.0-0">
                <performance-entry title="class-transformer" [value]="317"></performance-entry>
                <performance-entry title="cerialize" [value]="3505"></performance-entry>
                <performance-entry title="Deepkit Type" [value]="20324"></performance-entry>
            </performance-chart>
        </div>
    </div>
</div>
