<div class="wrapper">
    <div class="framework-banner">
        <div class="text">
            <p style="margin-top: 0;">
                The most advanced high-performance server framework for isomorphic and sophisticated TypeScript
                applications like complex websites, admin or management interfaces, games, desktop or mobile apps.
            </p>

            <div class="boxes">
                <div class="box-section">
                    <div class="box">
                        <div class="header">A+</div>
                        <div class="sub">best</div>
                    </div>
                    <div class="text">Type safety</div>
                </div>
                <div class="box-section">
                    <div class="box">
                        <div class="header">50%</div>
                        <div class="sub">less</div>
                    </div>
                    <div class="text">Boilerplate</div>
                </div>
                <div class="box-section">
                    <div class="box">
                        <div class="header">4x</div>
                        <div class="sub">faster</div>
                    </div>
                    <div class="text">Time to Market</div>
                </div>
                <div class="box-section">
                    <div class="box">
                        <div class="header">5x</div>
                        <div class="sub">faster</div>
                    </div>
                    <div class="text">Performance</div>
                </div>
            </div>

            <div class="boxes-sub">Compared to classic dual-stack projects</div>

            <h2>Isomorphic TypeScript</h2>

            <p>
                Utilize the enourmous economical advantage of isomorphic TypeScript to its fullest and have a much
                smaller code-base compared to classic dual-stack (PHP/JS, Java/JS).
                Develop complex web applications faster than ever before.
            </p>

            <div class="header-actions">
                <a class="button" routerLink="/download">Getting started</a>
                <a class="button" target="_blank" href="">Github</a>
            </div>
        </div>

        <div class="visual">
            <img alt="Framework visual" src="/assets/images/framework-visual.png"/>
        </div>
    </div>

    <div class="section wrapper text">
        <h2>More Economic Efficient</h2>

        <p>
            Since years developers were forced to use two completely separate technology stacks when building
            professional web applications. Most notable are Java/JavaScript or PHP/JavaScript.
            With modern TypeScript this is no longer needed.
        </p>

        <p>
            By using TypeScript for frontend and backend with a framework that fully utilizes all advantages of a single
            technology stack, it skyrockets your performance and enables you to build products on a whole new category
            of economical efficiency.
        </p>

        <div class="economic-comparison-boxes">
            <div class="box" style="height: 120px;">
                Java/JavaScript
            </div>
            <div class="box" style="height: 100px;">
                PHP/JavaScript
            </div>
            <div class="box" style="height: 35px;">
                TypeScript
            </div>
        </div>

        <div class="boxes-sub">
            <div>
                Development costs of full-stack web applications
            </div>
        </div>
    </div>
</div>
