:host {
  display: block;
  position: relative;
  z-index: 101;
  margin: 75px auto;
}

.wrapper {
  max-width: 1500px;
}

.layout {
  display: flex;
  height: 460px;
  text-align: left;
  border: 1px solid #b5b5b5;
  background-color: #f9f9f9;
  //border-radius: 4px;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;

  > * {
    flex: 0 0 50%;
    height: 100%;
    overflow: hidden;
  }
}

pre {
  padding: 15px;
  margin: 0;
}

.dql {
}

table {
  border-collapse: collapse;
}

table th, table td {
  font-size: 14px;
  padding: 2px 5px;
}

.browser {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d0d0d0;

  .actions {
    flex: 0 0 32px;
    padding: 0 10px;
    border-bottom: 1px solid #d0d0d0;
  }

  .content {
    flex: 1;
    overflow: auto;
    overflow: overlay;
    scrollbar-width: thin;
  }

  .console {
    flex: 1;
    border-top: 1px solid #adadad;
    font-size: 13px;

    > div {
      padding: 0 5px;
      white-space: pre-line;
      border-bottom: 1px solid #d0d0d0;
    }
  }
}

.tables {
  padding: 15px;
}

.actions {
  display: flex;

  button {
    padding: 4px 12px;
  }

  .tabs {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.tab {
    border-radius: 2px;
    border: 0;
    background-color: transparent;
    color: black;
    outline: 0;
    margin: 0 3px;
    background-image: none;

    &:hover {
      background-color: #116fec;
      color: white;
    }

    &.active {
      background-color: #0e6dea;
      color: white;
    }

    &:active {
      background-color: #0c66dd;
      color: white;
    }
  }
}
