<div class="page">
    <product-banner header="ORM" id="orm">
        <p>
            The fastest TypeScript ORM for MongoDB, MySQL, PostgreSQL, SQLite.
        </p>
        <p>
            With data-mapper, active-record, UnitOfWork, identity map, migrations, relations support, and much
            more.
        </p>
        <p>
            Use plain TypeScript — no code-generation, schema, or config files required.
        </p>
    </product-banner>

    <div class="line"></div>
    <div style="margin-top: 45px; text-align: center">
        <h2>Playground</h2>

        <p>Interactive TypeScript playground with SQLite database — in your browser.</p>

        <orm-playground></orm-playground>
    </div>
    <div class="wrapper banner-features" style="text-align: center">
        <div>
            <h3>High performance</h3>
            <div>
                <performance-chart yAxis="ms / SQLite query 10k records">
                    <performance-entry title="Sequelize" [value]="70.08"></performance-entry>
                    <performance-entry title="MikroORM" [value]="40.76"></performance-entry>
                    <performance-entry title="Prisma" [value]="37.59"></performance-entry>
                    <performance-entry title="TypeORM" [value]="28.33"></performance-entry>
                    <performance-entry title="Deepkit ORM" [value]="7.69"></performance-entry>
                </performance-chart>
            </div>
        </div>

        <div>
            <h3>Fastest MongoDB</h3>
            <div>
                <performance-chart yAxis="ms / MongoDB query 10k records">
                    <performance-entry title="Mongoose" [value]="160.59"></performance-entry>
                    <performance-entry title="MikroORM" [value]="89.95"></performance-entry>
                    <performance-entry title="TypeORM" [value]="28.012"></performance-entry>
                    <performance-entry title="Raw MongoClient" [value]="24.64"></performance-entry>
                    <performance-entry title="Deepkit ORM" [value]="12.56"></performance-entry>
                </performance-chart>
            </div>
        </div>
    </div>
    <div class="wrapper benchmark-link">
        <a routerLink="/benchmarks">More information about our benchmarks</a>
    </div>

    <div class="wrapper" style="text-align: center; margin-top: 130px;">
        <h2>Powerful database browser</h2>

        <p style="max-width: 650px; margin: auto">
            Edit your database content from your models, test queries, view relations, or seed your database
            directly in the browser using
            <a routerLink="/library/orm-browser">Deepkit ORM Browser</a>.
        </p>

        <image alt="content editing" src="/assets/screenshots-orm-browser/content-editing.png"></image>
    </div>

    <div class="line"></div>

    <div class="page-text">
        <h2>TypeScript</h2>
        <p>
            Just write your ORM entities as regular TypeScript classes or interfaces, and annotate
            properties with database specific features.
            It's that simple.
        </p>
        <textarea codeHighlight>
import { PrimaryKey, AutoIncrement, Email, Index, MinLength, Unique } from '@deepkit/type';

class User {
    id: number & PrimaryKey & AutoIncrement = 0;
    createdAt: Date = new Date;

    lastName?: string;
    firstName?: string;

    email?: string & Email & Index;

    constructor(
       public username: string & MinLength<3> & Unique
    ) {}
}
    </textarea>

        <h2>Interfaces</h2>
        <p>
            Database entities can also be defined in a interfaces or computed types without the need to use an actual class.
        </p>

        <textarea codeHighlight>
import { PrimaryKey, AutoIncrement, Email, Index, MinLength, Unique } from '@deepkit/type';

interface User {
    id: number & PrimaryKey;
    createdAt: Date;
    lastName?: string;
    firstName?: string;
    email?: string & Email & Index;
    username: string & MinLength<3> & Unique;
}
      </textarea>


        <h2>Query API</h2>
        <p>
            The query API allows you to fetch and manipulate data in a type-safe manner.
        </p>
        <p>
            Filtering uses an Mongo-Like query interface, that works for every
            database (even SQL) the same.
        </p>
        <p>
            The API is designed to build cross-database queries that work
            on every database the same.
        </p>

        <textarea codeHighlight>
        const result = await database.query(User)
          .orderBy('createdAt')
          .limit(5)
          .patchMany({credit: {$inc: 100}});
        //reports affected records, e.g. [1, 2, 3, 4, 5]
        result.primaryKeys;
        //also returns the new credit value
        result.returning.credit; //e.g. [100, 200, 100, 300, 100]

        const result = await database.query(User)
          .filter({disabled: true})
          .deleteMany();
        //reports affected records, e.g. [1, 2, 3, 4, 5]
        result.primaryKeys;
      </textarea>

        <textarea codeHighlight>
        const user = await database.query(User)
          .filter({username: 'Peter')
          .findOne(); //returns User class instance

        const users = await database.query(User)
          .orderBy('lastLogin')
          .limit(10)
          .find(); //returns array of User class instance

        const users = await database.query(User)
          //Mongo-Like queries for cross-databases queries
          // lastLogin > 10 ($gt = greater than)
          .filter({lastLogin: {$gt: 10})
          .limit(10)
          .find();

        //aggregation queries: Get user count in each group
        const users = await database.query(User)
          .groupBy('group')
          .withCount('id', 'users')
          .find(); // [{group: 'teamA', users: 5}]
      </textarea>


        <h2>Relations</h2>
        <p>
            Define your relations in terms of object references, and let Deepkit ORM handle the rest.
        </p>

        <textarea codeHighlight>
        const books = await database.query(Book)
          .joinWith('author')
          .find();
        for (const book of books) {
          //access the eagerly loaded relation
          book.author.username;
        }

        const books = await database.query(Book)
          .useInnerJoinWith('author')
            //add additional filter to the join
            .filter({username: 'Peter'})
            .end()
          .find();
      </textarea>

        <textarea codeHighlight>
import { PrimaryKey, Reference, BackReference, MinLength } from '@deepkit/type';

class Author {
    id: number & PrimaryKey = 0;
    createdAt: Date = new Date;

    lastName?: string;
    firstName?: string;

    books: Book[] & BackReference = [];

    constructor(
        public username: string & MinLength<3>
    ) {}
}

class Book {
    id: number & PrimaryKey = 0;
    createdAt: Date = new Date;

    description: string = '';

    constructor(
        public title: string & MinLength<3>,
        public author: Author & Reference,
    ) {}
}
    </textarea>


        <h2>Unit of Work</h2>
        <p>
            The easiest way to work with your entities. Handle ten-thousands
            of instances at the same time and let the UoW insert or update them in
            the most efficient way possible.
        </p>
        <p>
            The identity map makes sure that all persisted and fetched instances
            in one session are uniquely identifiable and always the same instance.
        </p>
        <textarea codeHighlight>
        const session = database.createSession();

        for (let i = 0; i < 10_000; i++) {
          session.add(new User('User ' + i));
        }

        //all items are inserted extremely fast in one
        //transaction with a single query
        await session.commit();

        const users = session.query(User).find();
        for (const user of users) {
          if (user.credit < 1000) user.credit += 100;
        }

        //changes are automatically detected and
        //patched to the database
        await session.commit();
      </textarea>


        <h2>ActiveRecord</h2>
        <p>
            For prototyping purposes Deepkit ORM also supports the ActiveRecord pattern.
            It allows you to directly work with the entity class, without accessing
            a Database object.
        </p>
        <textarea codeHighlight>
        import { PrimaryKey } from '@deepkit/type';
        import { ActiveRecord } from '@deepkit/orm';

        class User extends ActiveRecord {
            id: number & PrimaryKey = 0;
            createdAt: Date = new Date;
            //...
        }

        const user = new User('Marie');
        await user.save();

        const users = await User.query()
          .filter({logins: ${gt: 10}})
          .find();
        for (const user of users) {
          user.credit += 10;
          await user.save();
        }
      </textarea>

        <h2>Event system</h2>
        <p>
            You can hook into the UoW process or query execution using asynchronous event
            listeners that are for example able to modify the query itself.
        </p>
        <p>
            This allows you to write plugins or change the behavior of your entities.
        </p>

        <textarea codeHighlight>
        //onFetch is called for find(), findOne(),
        // findOneOrUndefined(), etc
        database.queryEvents.onFetch.subscribe((event) => {
          if (event.isSchemaOf(User)) {
            //modify the query
            event.query = event.query.addFilter({deleted: false});
          }
        });

        //onDeletePost is called after
        //.deleteOne()/.deleteMany() successfully executed
        database.queryEvents.onDeletePost.subscribe((event) => {
          //primaryKeys contains each primary key for
          //all affected records
          for (const id of event.deleteResult.primaryKeys) {
            await event.databaseSession.persist(
              new AuditLog('deleted', event.classSchema.getName())
            );
          }
        });
      </textarea>


        <h2>Migrations</h2>
        <p>
            Migrations help you migrate schema changes for SQL databases in an easy yet effective way.
        </p>
        <p>
            The migration file is automatically generated based on the difference
            between the actual schema of your database and your schema defined
            in your TypeScript code.
        </p>
        <p>
            You can modify the generated schema migration as you wish and commit
            to Git, so your colleagues and deploy procedure can update the database
            schema correctly.
        </p>
        <textarea codeHighlight>
        class User {
          id: number & PrimaryKey & AutoIncrement = 0;
          username: string = '';
        }

        //version 2 adds new fields
        class User {
          id: number & PrimaryKey & AutoIncrement = 0;
          username: string = '';
          lastName: string = '';
          firstName: string = '';
        }
      </textarea>
        <textarea codeHighlight lang="sql">
//my-app/migration/20200917-1727.ts
import {Migration} from '@deepkit/framework';
export class SchemaMigration implements Migration {
    name = `extended user`;

    adapterName = "sqlite";

    version = 1600362068;

    up() {
        return [
          `ALTER TABLE "user" ADD COLUMN "lastName" TEXT`
          `ALTER TABLE "user" ADD COLUMN "firstName" TEXT`
        ];
    }

    down() {
        return [
          `ALTER TABLE "user" DROP COLUMN "lastName"`
          `ALTER TABLE "user" DROP COLUMN "firstName"`
        ];
    }
}
      </textarea>


        <h2>Query composition</h2>
        <p>
            Reuse type-safe query classes and organize database access in the most efficient way.
        </p>

        <textarea codeHighlight>
        import { Query } from '@deepkit/orm';

        class SoftDeleteQuery<T extends {deletedAt?: Date}>
          extends Query<T> {

          findDeleted(): Promise<T[]> {
            return this.filter({deletedAt: {$ne: undefined}}).find();
          }
        }

        const deletedUser = await database.query(User)
          .lift(SoftDeleteQuery)
          .findDeleted();
        </textarea>

    </div>
</div>
