:host {
  display: block;

  user-select: none;
  img {
    width: 26px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.left {
  display: flex;
  align-items: center;
}

.copyright {
  margin-left: 15px;
  font-size: 14px;
  text-align: center;
  width: 150px;
}

.navi {
  margin-left: auto;
  text-align: right;
  display: flex;

  a, a:link {
    font-weight: 500;
    color: var(--color-white-creme);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: right;
    text-decoration: none;
    margin-left: 35px;
  }
}

@media(max-width: 450px) {
  .wrapper, .left, .navi {
    display: block;
    text-align: center;
  }

  .navi {
    margin-top: 15px;

    a, a:link {
      margin-left: 15px;
    }
  }

  .copyright {
    margin: auto;
  }
}
