:host {
  display: block;
  z-index: 1000;
  //background: #202020;
  user-select: none;

  a.logo {
    img {
      height: 26px;
      margin-right: 20px;
    }
  }
}

:host.startPage {
  background-color: var(--color-dark2);
  .wrapper {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 100px;
  }

  nav {
    opacity: 0;
  }
}

@keyframes fadeInHeader {
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 65px;
  display: flex;
  align-items: center;

  > a {
    line-height: 0;

    &:hover {
      opacity: 0.6;
    }
  }
}

.burger {
  margin-left: auto;
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  a, a:link {
    text-decoration: none;
    text-align: right;
    font-size: 14px;
    //font-size: 14px;
    //letter-spacing: 0.8px;
    //font-weight: 700;
    font-weight: 600;
    color: #171B1E;
    line-height: 26px;
    margin: 0 14px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-orange);
    }

    &.active {
      color: var(--color-orange);
    }

    img, svg {
      position: relative;
      top: 4px;
    }
  }
}

:host.startPage {
  @media(max-width: 600px) {
    .burger {
      display: none;
    }
  }
}

@media(max-width: 600px) {
  a.logo {
    text-align: center;
    flex: 1;
    img {
      margin-right: 0 !important;
    }
  }
  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 33px;
    border: 10px solid transparent;
  }
  nav {
    display: block;
    a, a:link {
      padding:7px 10px;
      display: block;
      text-align: left;
    }
  }

  nav.main {
    display: none;
    background: white;
    padding-top: 25px;
  }

  .showMenu {
    nav.main {
      position: absolute;
      top: 70px;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      display: block;
    }
  }
}
