:host {
  display: block;
  z-index: 1000;
  background: #202020;
  user-select: none;

  a.logo {
    img {
      height: 26px;
      margin-right: 20px;
    }
  }
}

.wrapper {
  height: 55px;
  display: flex;
  align-items: center;
  position: static !important;

  > a {
    line-height: 0;

    &:hover {
      opacity: 0.6;
    }
  }
}

.burger {
  margin-left: auto;
  display: none;
}

nav {
  display: flex;
  align-items: center;
  flex: 1;

  a, a:link {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
    margin: 0 20px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-orange);
    }

    &.active {
      color: var(--color-orange);
    }

    img, svg {
      position: relative;
      top: 4px;
    }
  }
}

@media(max-width: 600px) {
  a.logo {
    text-align: center;
    flex: 1;
    img {
      margin-right: 0 !important;
    }
  }
  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    border: 10px solid transparent;
  }
  nav {
    display: block;
    a, a:link {
      padding:7px 10px;
      display: block;
      text-align: left;
    }
  }

  nav.main {
    display: none;
    background: #202020;
    padding-top: 25px;
  }

  .showMenu {
    nav.main {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      display: block;
    }
  }
}
