.benchmark-run {
  border-bottom: 1px solid silver;
  margin-bottom: 15px;
  padding-bottom: 15px;

  .description {
    font-size: 14px;

    ::ng-deep pre {
      border-radius: 3px;
      padding: 7px 5px !important;
      font-size: 13px !important;
    }
  }

  .link {
    padding: 5px 0;
    font-size: 13px;
  }

  .layout {
    display: flex;
    overflow: hidden;

    .plot {
      flex: 1;
      overflow: hidden;

      ::ng-deep .svg-container {
        max-width: 100%;
      }
    }

    .text {
      min-width: 300px;
    }

    @media(max-width: 780px) {
      display: block;
    }
  }

  .how-to-run {
    background-color: #eee;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    overflow: hidden;

    pre {
      margin: 0;
    }
  }
}


.info {
  font-size: 13px;
  margin: 15px 0;

  table-layout: fixed;
  width: 100%;
}

.benchmark-selection {
  columns: 200px auto;
  font-size: 13px;
  border-bottom: 1px solid silver;
  padding-bottom: 15px;
  margin-bottom: 15px;

  > div {
  }
}

.last-results {
  width: 100%;
  font-size: 13px;
  .y {
    text-align: right;
  }
}

.results-info {
  margin-top: 6px;
  font-size: 12px;
  color: grey;
  text-align: right;
}
