//@import "scss/vars";
//@import "assets/source-code-pro/stylesheet.css";
//@import "assets/source-sans-pro/stylesheet.css";
@import "assets/muli/stylesheet.css";
@import "assets/source-code-pro/stylesheet.css";
@import "./style-code";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.video-js .vjs-tech:focus {
  outline: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Muli', "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  background-color: var(--color-bg);
  background: #202020;

  letter-spacing: 0;

  overflow: auto;
  overflow: overlay;
  scrollbar-width: thin;

  --color-bg: white;
  --color-orange: #FF662A;
  --color-line: rgba(139, 170, 223, 0.2);

  --color-link: #0080FF;
  --color-link-hover: #0062b6;
  --color-link-active: #0066cb;

  &::-webkit-scrollbar {
    height: 11px;
    width: 11px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(169, 173, 175, 0.77);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.01);
    background-clip: padding-box;

    &:hover {
      background: #727475;
      border: 2px solid rgba(0, 0, 0, 0.01);
      background-clip: padding-box;
    }
  }

  --text-grey: #A1A1A1;
}

.text-grey {
  color: var(--text-grey);
}


::selection {
  background: #0062b6;
  color: white;
}

a, a:link {
  text-decoration: none;
  color: var(--color-link);
}

code {
  padding: 2px 5px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(238, 238, 238, 0.86);
  border-radius: 6px;
}

table.pretty {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 13px;

  td, th {
    padding: 4px 3px;
    vertical-align: top;
  }

  tr:nth-child(even) td {
    background-color: #f8f8f8;
  }

  tr:hover td {
    background-color: #f1f1f1;
  }

  th {
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
  }
}

pre.codeHighlight[title] {
  &::before {
    display: block;
    text-align: center;
    content: attr(title);
    margin-bottom: 5px;
    color: #ddd;
    font-style: italic;
  }
}

pre.code {
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background: #202020;
  border-radius: 3px;
  color: #ddd;
  padding: 11px;
  text-align: left;

  max-width: 100%;
  overflow: auto;
  overflow: overlay;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 11px;
    width: 11px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(169, 173, 175, 0.77);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.01);
    background-clip: padding-box;

    &:hover {
      background: #727475;
      border: 2px solid rgba(0, 0, 0, 0.01);
      background-clip: padding-box;
    }
  }
}

h1, h2, h3, h4, h5 {
  color: black;
}

h1 {
  margin: 25px 0;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
}

h2 {
  margin: 20px 0;

  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
  line-height: 24px;
}

h4 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

hr {
  height: 1px;
  border: 0;
  background: rgba(221, 221, 221, 0.42);
  margin: 25px 0;
}

a, a:link {

  &:hover {
    color: var(--color-orange);
    text-decoration: underline;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 5px 0;

  > * {
    margin: 0 10px;
  }
}

.text-page {
  max-width: 720px;
  margin: 55px auto;
  padding: 0 20px;
}

pre.console {
  padding: 24px 14px;
  border-radius: 8px;
  background: #EEEEEE;
}

.page {

  > .text {
    max-width: 750px;
    margin: 45px auto;
    text-align: left;
    font-size: 15px;
    padding: 0 10px;

    > h2 {
      margin-top: 36px;
    }

    > .line {
      margin: 45px 0;
    }
  }

  .banner-features {
    display: flex;
    margin: 60px auto;

    > div {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;

      h3 {
        flex: 0 0 30px;
      }

      > div {
        padding: 25px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:not(:first-child) {
        > div {
          border-left: 1px solid black;
        }
      }
    }

    @media(max-width: 660px) {
      display: block;
      > div {
        &:not(:first-child) {
          > div {
            border-left: 0 !important;
          }
        }
      }
    }
  }

  .banner {
    max-width: 1040px;
    margin: 35px auto;
    padding: 0 20px;
    text-align: left;

    h1 {
      margin-top: 0;
      margin-bottom: 8px;
    }

    > p {
      max-width: 600px;
    }

    .head {
      display: flex;

      nav {
        margin-left: auto;
      }
    }

    nav {
      margin-bottom: 8px;
      text-align: right;
    }

    nav, .breadcrumb {
      a, a:link {
        margin-left: 24px;
        font-size: 14px;
        color: #131613;

        &:hover {
          text-decoration: none;
          color: var(--color-orange);
        }

        &.active {
          color: var(--color-orange);
          font-weight: 600;
        }
      }
    }

    .breadcrumb {
      a, a:link {
        margin-left: 0;
      }
    }

  }

  @media(max-width: 500px) {
    .banner {
      margin: 30px auto;

      .head {
        display: block;

        nav {
          //display: flex;
          //justify-content: space-around;
          margin-top: 15px;

          //a, a:link {
          //  margin: 0;
          //}
        }
      }
    }
  }
}

.library-cards {
  max-width: 1040px;
  margin: 80px auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, max-content));
  grid-gap: 25px;

  library-card {
    min-height: 310px;
    flex: 0 0 23%;
    cursor: pointer;

    @media(max-width: 540px) {
      min-height: unset;
    }

    &:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.23);
      background-color: #f9f9f9;
    }
  }
}


.line {
  max-width: 1000px;
  margin: auto;
  border-top: 1px solid var(--color-line);
}

.cards {
  display: grid;
  grid-gap: 45px;
  grid-auto-columns: auto;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  &.links .card {
    background: #FFFFFF;
    box-shadow: 0 0 16px rgb(0 0 0 / 13%);

    &:hover {
      box-shadow: 0 0 16px rgb(0 0 0 / 23%);
      background-color: #f9f9f9;
    }
  }
}

.card {
  background: #FAFAFA;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:link:hover {
    text-decoration: none;
  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-size: 13px;
  }
}

button, a.button, a.button:link {
  user-select: none;
  border: 0;
  display: inline-block;
  background: #2B3034;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 15px;

  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

  &:hover {
    background: #494f53;
  }

  &:active {
    background: #1a1615;
  }
}

button.primary,
a.button.primary {
  background: #FF662A;

  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background: #b54116;
  }

  &:active {
    background: #9b3510;
  }
}

.box {
  background: rgba(234, 234, 234, 0.4);
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 6px;
}

main,
.wrapper {
  max-width: 1040px;
  margin: auto;
  padding: 0 20px;
  text-align: center;

  //@include breakpoint($for-tablet) {
  //    padding: 0 20px;
  //}
}

main {
  margin: 80px auto;
  text-align: left;
}

.mini-wrapper {
  max-width: 700px;
  margin: auto;
}

.image {
  img {
    max-width: 100%;
  }

  @media(max-width: 540px) {
    text-align: center;
  }
}

.benchmark-link {
  text-align: right;
  font-size: 13px;
}

//
//.cc-message {
//    color: black;
//}
//
//.cc-revoke {
//    color: grey;
//}
//
//.content-area {
//    padding: 50px 0;
//}

//.doc-content {
//    letter-spacing: 0;
//    line-height: 24px;
//    text-align: left;
//
//    code:not([class*="language-"]) {
//        font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
//        padding: .1em .4em;
//        margin: 0;
//        font-size: 85%;
//        background-color: rgba(27, 31, 35, 0.06);
//        border-radius: 3px;
//    }
//
//    code[class*="language-"], pre[class*="language-"] {
//        font-size: 13px;
//        font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
//    }
//
//    p, ol {
//        max-width: 700px;
//        text-align: justify;
//    }
//
//    img {
//        margin: auto;
//        max-width: 100%;
//        max-height: 800px;
//        border: 5px solid #323232;
//        border-radius: 5px;
//    }
//
//    h2 {
//        font-weight: 600;
//        font-size: 18px;
//        margin-top: 25px;
//        letter-spacing: 0;
//    }
//
//    h3 {
//        font-weight: 600;
//        font-size: 16px;
//        letter-spacing: 0;
//        margin-top: 20px;
//    }
//}
