html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Muli', "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;

  letter-spacing: 0;

  overflow: auto;
  overflow: overlay;
  scrollbar-width: thin;

  --color-bg: white;
  --color-orange: #FF662A;
  --color-line: rgba(139, 170, 223, 0.2);

  --color-link: #0080FF;
  --color-link-hover: #0062b6;
  --color-link-active: #0066cb;

  &::-webkit-scrollbar {
    height: 11px;
    width: 11px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(169, 173, 175, 0.77);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.01);
    background-clip: padding-box;

    &:hover {
      background: #727475;
      border: 2px solid rgba(0, 0, 0, 0.01);
      background-clip: padding-box;
    }
  }

  --text-grey: #A1A1A1;
}


* {
  box-sizing: border-box;
}


::selection {
  background: #0062b6;
  color: white;
}
